#rezultat {
    width: 25%;
    height: 25px;
    border: 1px solid black;
    margin: 5px 0;
}
span {
    display: block;
    margin: 5px 0;
}
#container {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

.verde {
    background-color: red;
}

.main {
    padding: 50px 0 0;
}

.cerc {
    width:50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
}

.gri {
    background-color: #cccccc;
}